<div class="row">
	<div class="col-xs-12">
		<p>当前位置：异常卡查询</p>
		<hr>
	</div>
	<div class="col-xs-12" >
		<form class="form-horizontal" action="${rc.contextPath}/exceptCard/cardList">
			<div class="col-xs-1" style="font-size:20px;width:12%">
				查询条件
			</div>
			<div class="col-xs-10">
				<div class="form-group">
					<label class="col-xs-2 control-label">卡号</label>
				    <div class="col-xs-3"><input class="form-control" type="text" maxlength=19 name="accNo" value="$!accNo"></div>
				    <div class="col-xs-5">
				    	<button type="submit" class="btn btn-primary">查询</button>
				    	<button type="button" onclick="resetInput()" class="btn btn-success">重置</button>
				    </div>
			    </div>
		    </div>
		</form>
	</div>
</div>
<div class="row admin-row-margin">
	<hr>
	<div class="row">
		<div class="col-xs-6" style="font-size:18px">查询结果<span style="font-size:14px">···(共$!page.total条数据)</span></div>
	</div>
	<div class="col-xs-12">
		<table class="table table-striped table-bordered table-hover">
			<thead style="background-color:#FF6666;">
				<th>卡号(已加密)</th>
				<th>已用查询次数</th>
				<th>查询次数上限</th>
				<th>状态</th>
			</thead>
			<tbody>
				#if($!exceptCardList.size()==0||!$!exceptCardList)
					<tr><td colspan=4 style="text-align:center">查无数据，请确认查询条件</td></tr>
				#end
				#foreach($exceptCard in $!exceptCardList)
				<tr>
					<td>$!exceptCard.accNo</td>
					<td>$!exceptCard.usedNum</td>
					<td>$!exceptCard.cardTransLimit</td>
					<td>#if("1"==$!exceptCard.isLock)<span style="color:green">正常</span>
					#else <span style="color:red">锁定</span>
					#end
					</td>
				</tr>
				#end
			</tbody>
		</table>
		<!-- 分页-->
		#if($!page.total > $!page.pageSize)
			<div class="row ">
				<div style="float:right">
				<ul class="pagination">
					<li><a href="${rc.contextPath}/exceptCard/cardList?limit=1&accNo=$!accNo">首页</a></li>
	              #if($!page.currNo!=1)
	                  <li class="previous"><a  href="${rc.contextPath}/exceptCard/cardList?limit=$!page.lastNo&accNo=$!accNo" >上一页</a><li>
	              #end
	            #set($no=[$!page.beginPgNo .. $!page.nextEndPgNo])
	            #foreach($i in $no) 
	                <li #if(($!page.currNo)==$i) class="active" #else class="disable" #end><a href="${rc.contextPath}/exceptCard/cardList?limit=$i&accNo=$!accNo" >$i</a></li>
	            #end
	             #if($!page.currNo!=$!page.endPgNo)
	                <li class="next"><a href="${rc.contextPath}/exceptCard/cardList?limit=$!page.nextNo&accNo=$!accNo" >下一页</a></li>
	             #end
	             	<li><a href="${rc.contextPath}/exceptCard/cardList?limit=$page.endPgNo&accNo=$!accNo" class="home">尾页</a></li>
	             	<li><a >共$!page.pageNo页</a></li>
	            </ul>
	            </div>
	        </div>
		#end
		<!--分页 End -->
	</div>
</div>

<script>
function resetInput(){
	$('.form-horizontal input').val('');
}
</script>
