/**总体样式 */
.authweb-last-li{border-bottom: 1px solid #e7e7e7;}
.authweb-head-li{padding:10px 15px;padding-left:15px;display:inline-block;position:relative;}
.nav>li>a{padding-left:35px}
.authweb-shadow{border:1px solid #eee;box-shadow:0 0 10px #666;}
.span-in-h{font-size:13px;position:absolute;bottom:0;right:0}
.margin-bottom-20{margin-bottom:20px}
.back-to-top{display: none;width:60px;height:40px;line-height:40px;font-size:12px;font-weight:700;position:fixed;right:50px;bottom:50px;z-index:1000;background:#337ab7;cursor:pointer;text-align:center;color:#fff}

/** 渠道信息样式*/
.statistic-span{width:16px;height:16px;display:block;float:left;margin-right:3px}
.detail-module{margin-bottom:30px;padding-left:30px}
.detail-module ul{list-style-type:none;padding-left:0px}
.detail-module ul li{margin-top:15px;margin-bottom:25px}
.detail-module ul li span:first-child{width:25%;text-align:left;display:inline-block;color:#999}
.detail-module ul li span:last-child{width:75%;text-align:left;display:inline-block}
.detail-module h4{position: relative;}
.h-left{font-size:14px;float:right;bottom:0;position:absolute;right:0}
.form-group .label-title{text-align:right;}

.form-group .label-tips{text-align:left;color:red}
.form-group .label-right{padding-left:0;text-align:left}
.label-right i,a{padding:6px 12px}

/**淡入淡出提示*/
.flex-info{background:none repeat scroll 0 0 rgba(0,0,0,.35);color:#fff;width:300px;min-height:50px;line-height:50px;top:50%;left:50%;margin-top:-50px;margin-left:-150px;position:fixed!important;position:absolute;z-index:999;text-align:center;border-radius:5px}

/** 遮罩*/
.mask{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;background-color:#eee;opacity:.8;display:none}
.mask .mask-icon{top:40%;left:45%;position:absolute;font-size:40px}