<style>
#spinLabel{display:none;color:#FF6600}
</style>
<div class="row">
	<div class="col-xs-12">
		<p>当前位置：<a href="${rc.contextPath}/chnlUser/userList">渠道用户管理</a> >> #if($!channelUser) 修改渠道用户 #else 添加渠道用户 #end</p>
		<hr>
	</div>
	<div class="col-xs-2" style="display:block"></div>
	<div class="col-xs-8">
		#if($!channelUser)
		<form class="form-horizontal" action="${rc.contextPath}/chnlUser/updChnlUser" method="post">
			<input type="hidden" name="id" value="$!channelUser.id">
		#else
		<form class="form-horizontal" action="${rc.contextPath}/chnlUser/addChnlUser" method="post">
		#end
			<h4>基本信息</h4>
			<div class="form-group">
				#if($!channelUser)
				<label class="col-xs-3 control-label label-title">用户名</label>
				<input type="hidden" name="userId" value="$!channelUser.userId">
				<label class="col-xs-4 control-label label-right"><i>$channelUser.userId</i></label>
				#else
				<label class="col-xs-3 control-label label-title">用户名<span style="color:red">*</span></label>
				<div class="col-xs-4">
					<input type="text" class="form-control" maxlength=12 id="userId" name="userId" onblur="userIdAjax(this.value)" autofocus autocomplete="off">
				</div>
				<label class="col-xs-3 control-label label-right" id="spinLabel"><span class="icon-spinner icon-spin"></span> 校验中，请等待</label>
				<label class="col-xs-5 control-label label-tips" id="userIdTip"></label>
				#end
			</div>
			#if(!$!channelUser)
			<div class="form-group">
				<label class="col-xs-3 control-label label-title">密码<span style="color:red">*</span></label>
				<div class="col-xs-4">
					<input type="password" class="form-control" id="password" name="password" value="">
				</div>
				<label class="col-xs-3 control-label label-tips" id="passwordTip"></label>
			</div>
			#end
			<div class="form-group">
				<label class="col-xs-3 control-label label-title">姓名<span style="color:red">*</span></label>
				<div class="col-xs-3">
					<input type="text" class="form-control" id="trueName" name="trueName" value="$!channelUser.trueName">
				</div>
				<label class="col-xs-3 control-label label-tips" id="trueNameTip"></label>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label label-title">所在公司</label>
				<div class="col-xs-6">
					<textarea rows="4" class="form-control" name="corp" style="resize:none">$!channelUser.corp</textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label label-title">联系方式</label>
				<div class="col-xs-3">
					<input type="text" class="form-control" name="phone" value="$!channelUser.phone" >
				</div>
			</div>
			<hr>
			<h4>配置信息</h4>
			<div class="form-group">
				<label class="col-xs-3 control-label label-title">生效状态</label>
				<div class="col-xs-3">
					<select class="form-control" name="validSt">
						<option value="0" #if($!channelUser.validSt=="0") selected #end>未生效</option>
						<option value="1" #if($!channelUser.validSt=="1") selected #end>已生效</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label label-title">所属渠道ID</label>
				<input type="hidden" name="chnlId" value="$!channelUser.chnlId">
				<label class="col-xs-9 control-label label-right"><i>$chnlSysUser.chnlId</i></label>
			</div>
			<div class="form-group" id="userTypeDiv">
				<label class="col-xs-3 control-label label-title">权限</label>
				<div class="col-xs-9">
					#if("$chnlSysUser.userId"=="$chnlSysUser.chnlId")
						<label class="radio-inline"><input type="radio" name="userType" value="1" #if($!channelUser.userType=="1"||!$!channelUser.userType) checked #end> 所有</label>
						<label class="radio-inline"><input type="radio" name="userType" value="2" #if($!channelUser.userType=="2") checked #end> 管理权限</label>
						<label class="radio-inline"><input type="radio" name="userType" value="3" #if($!channelUser.userType=="3") checked #end> 交易权限</label>
					#else
						#if($chnlSysUser.userType=="1")
							#if($!channelUser&&"$channelUser.userId"=="$chnlSysUser.userId")
								<label class="radio-inline"><input type="radio" name="userType" value="1" #if($!channelUser.userType=="1") checked #end> 所有</label>
								<label class="radio-inline"><input type="radio" name="userType" value="2" #if($!channelUser.userType=="2") checked #end> 管理权限</label>
								<label class="radio-inline"><input type="radio" name="userType" value="3" #if($!channelUser.userType=="3") checked #end> 交易权限</label>
							#else
								<label class="radio-inline"><input type="radio" name="userType" value="3" checked> 交易权限</label>
							#end
						#end
						#if($chnlSysUser.userType=="2")
							#if($!channelUser&&"$channelUser.userId"=="$chnlSysUser.userId")
								<label class="radio-inline"><input type="radio" name="userType" value="2" #if($!channelUser.userType=="2") checked #end> 管理权限</label>
								<label class="radio-inline"><input type="radio" name="userType" value="3" #if($!channelUser.userType=="3") checked #end> 交易权限</label>
							#else
								<label class="radio-inline"><input type="radio" name="userType" value="3" checked> 交易权限</label>
							#end
						#end
					#end
				</div>
			</div>
			#if($!channelUser)
				#if(!($!channelUser.userId==$!channelUser.chnlId||"2"==$!channelUser.userType))
				<div class="form-group">
					<label class="col-xs-3 control-label label-title">账户余额</label>
					<label class="col-xs-4 control-label label-right"><i>$!channelUser.restAt 元</i></label>
				</div>
				#end
			#else
				<div class="form-group" id="restAtDiv">
					<label class="col-xs-3 control-label label-title">账户余额<span style="color:red">*</span></label>
					<div class="col-xs-3">
						<input type="text" class="form-control money-only" id="restAt" name="restAt" value="$!channelUser.restAt">
					</div>
					<label class="col-xs-3 control-label label-tips" id="restAtTip"></label>
				</div>
			#end
			<div id="transAtLimitDiv">
				<div class="form-group" id="isLimitDiv">
					<label class="col-xs-3 control-label label-title">限额限笔</label>
					<div class="col-xs-9">
						<label class="radio-inline"><input type="radio" name="isLimit" value="0" #if($!channelUser.isLimit=="0"||!$!channelUser.isLimit) checked #end> 不限</label>
						<label class="radio-inline"><input type="radio" name="isLimit" value="1" #if($!channelUser.isLimit=="1") checked #end> 限额限笔</label>
						<label class="radio-inline"><input type="radio" name="isLimit" value="2" #if($!channelUser.isLimit=="2") checked #end> 仅限额</label>
						<label class="radio-inline"><input type="radio" name="isLimit" value="3" #if($!channelUser.isLimit=="3") checked #end> 仅限笔</label>
					</div>
				</div>
				<div class="form-group" id="dayAtLimitDiv">
					<label class="col-xs-3 control-label label-title">日总额度限制<span style="color:red">*</span></label>
					<div class="col-xs-3">
						<input type="text" class="form-control money-only" id="dayAtLimit" name="dayAtLimit" value="$!channelUser.dayAtLimit">
					</div>
					<label class="col-xs-1 control-label label-right">元</label>
					<label class="col-xs-4 control-label label-tips" id="dayAtLimitTip"></label>
				</div>
				<div class="form-group" id="dayTransLimitDiv">
					<label class="col-xs-3 control-label label-title">日总笔数限制<span style="color:red">*</span></label>
					<div class="col-xs-3">
						<input type="text" class="form-control  int-num-only" id="dayTransLimit" name="dayTransLimit" value="$!channelUser.dayTransLimit">
					</div>
					<label class="col-xs-1 control-label label-right">笔</label>
					<label class="col-xs-4 control-label label-tips" id="dayTransLimitTip"></label>
				</div>
			</div>
			<div class="form-group" id="entryDiv">
				<label class="col-xs-3 control-label label-title">访问入口</label>
				<div class="col-xs-9">
					<label class="radio-inline"><input type="radio" name="entry" value="0" #if($!channelUser.entry=="0"||!$!channelUser.entry) checked #end> 无权限</label>
					<label class="radio-inline"><input type="radio" name="entry" value="1" #if($!channelUser.entry=="1") checked #end> 全入口访问</label>
					<label class="radio-inline"><input type="radio" name="entry" value="2" #if($!channelUser.entry=="2") checked #end> 仅接口访问</label>
					<label class="radio-inline"><input type="radio" name="entry" value="3" #if($!channelUser.entry=="3") checked #end> 仅前台界面访问</label>
				</div>
			</div>
			<hr>
			<h4>收费信息</h4>
			<div id="priceInfoDiv">
				#if($!channelUser.userPriceVo)
				<input type="hidden" name="priceId" value="$!channelUser.userPriceVo.id">
				#end
				<div class="form-group">
					<label class="col-xs-4 control-label label-title">卡号+姓名<span style="color:red">*</span></label>
					<div class="col-xs-3">
						<input type="text" class="form-control money-only" id="mode1Price" name="mode1Price" value="$!channelUser.userPriceVo.mode1Price">
					</div>
					<label class="col-xs-1 control-label label-right">元</label>
					<label class="col-xs-3 control-label label-tips" id="mode1PriceTip"></label>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label label-title">卡号+身份证号<span style="color:red">*</span></label>
					<div class="col-xs-3">
						<input type="text" class="form-control money-only" id="mode2Price" name="mode2Price" value="$!channelUser.userPriceVo.mode2Price">
					</div>
					<label class="col-xs-1 control-label label-right">元</label>
					<label class="col-xs-3 control-label label-tips" id="mode2PriceTip"></label>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label label-title">卡号+姓名+身份证号<span style="color:red">*</span></label>
					<div class="col-xs-3">
						<input type="text" class="form-control money-only" id="mode3Price" name="mode3Price" value="$!channelUser.userPriceVo.mode3Price">
					</div>
					<label class="col-xs-1 control-label label-right">元</label>
					<label class="col-xs-3 control-label label-tips" id="mode3PriceTip"></label>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label label-title">卡号+姓名+身份证号+手机<span style="color:red">*</span></label>
					<div class="col-xs-3">
						<input type="text" class="form-control money-only" id="mode4Price" name="mode4Price" value="$!channelUser.userPriceVo.mode4Price">
					</div>
					<label class="col-xs-1 control-label label-right">元</label>
					<label class="col-xs-3 control-label label-tips" id="mode4PriceTip"></label>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label label-title">姓名+身份证号<span style="color:red">*</span></label>
					<div class="col-xs-3">
						<input type="text" class="form-control money-only" id="mode5Price" name="mode5Price" value="$!channelUser.userPriceVo.mode5Price">
					</div>
					<label class="col-xs-1 control-label label-right">元</label>
					<label class="col-xs-3 control-label label-tips" id="mode5PriceTip"></label>
				</div>
			</div>
			<div id="priceInfoDivTip">
				<p>管理权限无需配置收费信息</p>
			</div>
			<div class="form-group">
				<div class="col-xs-12" style="text-align:center">
					<button type="submit" onclick="return validForm();" class="btn btn-primary">#if($!channelUser)修改 #else 添加 #end</button>
					<button type="button" class="btn btn-default" onclick="history.go(-1);">返回</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-xs-2" style="display:block"></div>
</div>


<script>
$("#isLimitDiv :radio").change(function(){
	limitSelect(this);
});

function limitSelect(document){
	var val=$(document).val();
	switch(val){
	case "0"://不限
		$('#dayAtLimitDiv').hide(500);
		$('#dayTransLimitDiv').hide(500);
		break;
	case "1"://限额限笔
		$('#dayAtLimitDiv').show(500);
		$('#dayTransLimitDiv').show(500);
		break;
	case "2"://仅限额
		$('#dayAtLimitDiv').show(500);
		$('#dayTransLimitDiv').hide(500);
		break;
	case "3"://仅限笔
		$('#dayAtLimitDiv').hide(500);
		$('#dayTransLimitDiv').show(500);
		break;
	default:break;
	}
}

limitSelect($("#isLimitDiv :radio[checked]"));

$("#userTypeDiv :radio").change(function(){
	userTypeSelect(this);
});
function userTypeSelect(document){
	var val=$(document).val();
	switch(val){
	case "1"://所有权限
		$('#transAtLimitDiv').show(500);
		$('#priceInfoDiv').show(500);
		$('#priceInfoDivTip').hide(500);
		$('#entryDiv').show(500);
		$('#restAtDiv').show(500);
		break;
	case "2"://管理权限
		$('#transAtLimitDiv').hide(500);
		$('#priceInfoDiv').hide(500);
		$('#priceInfoDivTip').show(500);
		$('#entryDiv').hide(500);
		$('#restAtDiv').hide(500);
		break;
	case "3"://交易权限
		$('#transAtLimitDiv').show(500);
		$('#priceInfoDiv').show(500);
		$('#priceInfoDivTip').hide(500);
		$('#entryDiv').show(500);
		$('#restAtDiv').show(500);
		break;
	default:break;
	}
}
userTypeSelect($("#userTypeDiv :radio[checked]"));


function validForm(){
	var flag = true;
	$('label[id$=Tip]').html('');
	var userId = $('#userId');
	var password = $('#password');
	var trueName = $('#trueName');
	if(""==userId.val()){
		$('#userIdTip').html("<span class='icon-remove-sign'></span> 用户名不能为空");
		flag=false;
	}
	if(""==password.val()){
		$('#passwordTip').html("<span class='icon-remove-sign'></span> 密码不能为空");
		flag=false;
	}else{
		if(password.val().length<6){
			$('#passwordTip').html("<span class='icon-remove-sign'></span> 密码长度不小于6位");
			flag=false;
		}
	}
	if(""==trueName.val()){
		$('#trueNameTip').html("<span class='icon-remove-sign'></span> 姓名不能为空");
		flag=false;
	}
	var userType = $('input[type="radio"][name="userType"]:checked').val();
	if("1"==userType||"3"==userType){
		var restAt = $('#restAt');
		if(""==restAt.val()){
			$('#restAtTip').html("<span class='icon-remove-sign'></span> 账户余额不能为空");
			flag=false;
		}
		var isLimit = $('input[type="radio"][name="isLimit"]:checked').val();
		if("2"==isLimit&&""==$('#dayAtLimit').val()){
			$('#dayAtLimitTip').html("<span class='icon-remove-sign'></span> 日总额度限制不能为空");
			flag=false;
		}
		if("3"==isLimit&&""==$('#dayTransLimit').val()){
			$('#dayTransLimitTip').html("<span class='icon-remove-sign'></span> 日总笔数限制不能为空");
			flag=false;
		}
		if("1"==isLimit&&(""==$('#dayAtLimit').val()||""==$('#dayTransLimit').val())){
			$('#dayAtLimitTip').html("<span class='icon-remove-sign'></span> 日总额度限制不能为空");
			$('#dayTransLimitTip').html("<span class='icon-remove-sign'></span> 日总笔数限制不能为空");
			flag=false;
		}
		$('input[name$="Price"]').each(function(){
			if(""==$(this).val()){
				$("#"+$(this).attr('name')+"Tip").html("<span class='icon-remove-sign'></span> 收费信息不能为空");
				flag=false;
			}
		});
		flag = moneyOnly(flag);
		flag = intNumOnly(flag);
	}
	flag = flag&&ajaxFlag;
	if(flag){
		password.val($.md5(password.val()));
	}
	return flag;
}
var ajaxFlag = true;
function userIdAjax(val){
	if(""==val||val.length<6){
		$('#userIdTip').html("<span class='icon-remove-sign'></span> 用户名不能为空且长度不小于6位");
		ajaxFlag=false;
	}else{
		$.ajax({
			url:"${rc.contextPath}/chnlUser/checkUserId",
			data:{userId:val},
			type:"post",
			async:false,
			beforeSend:function(){
				$('#spinLabel').css({"display":"block"});
			},
			success:function(result){
				if(result){
					$('#userIdTip').html('<span style="color:red"><span class=" icon-exclamation-sign"></span> 用户名已经存在</span>');
					ajaxFlag = false;
				}else{
					$('#userIdTip').html('<span style="color:green"><span class=" icon-ok-sign"></span> 可以使用</span>');
					ajaxFlag = true;
				}
			},
			error:function(result){
				$('#userIdTip').html('<span style="color:red"><span class=" icon-exclamation-sign"></span> 系统异常，请重新输入</span>');
				ajaxFlag = false;
			},
			complete:function(result){
				$('#spinLabel').css({"display":"none"});
			}
		});
	}
}
</script>