<form class="form-horizontal" action="${rc.contextPath}/chnlUser/updChnlUserBaseSetting" method="post">
	<input type="hidden" name="id" value="$!channelUser.id">
	<div class="form-group">
		<label class="col-xs-3 control-label label-title">用户ID</label>
		<label class="col-xs-3 control-label label-right"><i>$channelUser.userId</i></label>
	</div>
	<!--
	<div class="form-group">
		<label class="col-xs-3 control-label label-title">密码</label>
		#if($!chnlSysUser.userType=="3"||"$chnlSysUser.userId"=="$channelUser.userId")
		<label class="col-xs-3 control-label label-right"><a href="${rc.contextPath}/chnlUser/updPassword?userId=$!channelUser.userId">修改密码</a></label>
		#else
		<label class="col-xs-3 control-label label-right"><a href="${rc.contextPath}/chnlUser/updPassword?userId=$!channelUser.userId">重置密码</a></label>
		#end
	</div>
		-->
	<div class="form-group">
		<label class="col-xs-3 control-label label-title">姓名<span style="color:red">*</span></label>
		<div class="col-xs-4">
			<input type="text" class="form-control" id="trueName" name="trueName" value="$!channelUser.trueName">
		</div>
		<label class="col-xs-4 control-label label-tips" id="trueNameTip"></label>
	</div>
	<div class="form-group" id="userTypeDiv">
		<label class="col-xs-3 control-label label-title">用户权限</label>
		<label class="col-xs-9 control-label label-right">
			<i>#if($!channelUser.userType=="1")<span style="color:green">所有权限</span>
			#elseif($!channelUser.userType=="2")<span style="color:blue">管理权限</span>
			#else<span style="color:#FB9100">交易权限</span>
			#end
			</i>
			<!--
			#if($rootFlag)
			<a href="${rc.contextPath}/chnlUser/updChnlUser?id=$!channelUser.id">修改权限</a>
			#end
			-->
		</label>
	</div>
	<div class="form-group">
		<label class="col-xs-3 control-label label-title">所在公司</label>
		<div class="col-xs-7">
			<textarea rows="4" class="form-control" name="corp" style="resize:none">$!channelUser.corp</textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-3 control-label label-title">所属渠道ID</label>
		<label class="col-xs-3 control-label label-right"><i>$channelUser.chnlId</i></label>
	</div>
	<div class="form-group">
		<label class="col-xs-3 control-label label-title">联系方式</label>
		<div class="col-xs-6">
			<input type="text" class="form-control" name="phone" value="$!channelUser.phone" >
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-3 control-label label-title">生效状态</label>
		<label class="col-xs-3 control-label label-right"><i>#if($!channelUser.validSt=="1")<span style="color:green">已生效</span>
		#else<span style="color:red">未生效</span>
		#end </i>
		</label>
	</div>
	<div class="form-group">
		<div class="col-xs-12" style="text-align:center">
			<button class="btn btn-primary" onclick="return validBaseForm()">保存</button>
		</div>
	</div>
</form>

<script>
function validBaseForm(){
	$('label[id$=Tip]').html('');
	var flag = true;
	var trueName = $('#trueName');
	if(""==trueName.val()){
		$('#trueNameTip').html("<span class='icon-remove-sign'></span> 姓名不能为空");
		flag=false;
	}
	return flag;
}
</script>