<div class="row">
	<div class="col-xs-12">
		<p>当前位置：<a href="#">用户管理</a> >> 修改密码</p>
		<hr>
	</div>
	<div class="row col-xs-12" style="text-align:center">
		<span class="icon-ok-sign" style="color:#99CC33;font-size:100px"></span>
		<h2>$!errMsg</h2>
		#if("changeMine"==$flag)
		<a class="btn btn-primary" style="margin-top:30px" href="${rc.contextPath}/chnlsys/login">立即登录</a>
		#elseif("changeOthers"==$flag)
		<a class="btn btn-primary" style="margin-top:30px" href="${rc.contextPath}/chnlUser/userList">返回用户列表</a>
		#end
	</div>
</div>