<div class="row">
	<div class="col-xs-12">
		<p>当前位置：<a href="#">渠道用户管理</a> >> 修改渠道用户密码</p>
		<hr>
	</div>
	<div class="col-xs-12">
		<form class="form-horizontal" action="${rc.contextPath}/chnlUser/updPassword" method="post">
			<input type="hidden" name="id" value="$!chnlSysUser.id">
			<input type="hidden" name="userId" value="$!chnlSysUser.userId">
			<div class="form-group">
				<label class="col-xs-3 control-label label-title">用户名</label>
				<label class="col-xs-3 control-label label-right"><i>$chnlSysUser.userId</i></label>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label label-title">原密码<span style="color:red">*</span></label>
				<div class="col-xs-3">
					<input type="password" class="form-control" id="oldPassword" name="oldPassword" value="">
				</div>
				<label class="col-xs-4 control-label label-tips" id="oldPasswordTip">$!errMsg</label>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label label-title">新密码<span style="color:red">*</span></label>
				<div class="col-xs-3">
					<input type="password" class="form-control" id="newPassword" name="newPassword">
				</div>
				<label class="col-xs-4 control-label label-tips" id="newPasswordTip"></label>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label label-title">确认新密码<span style="color:red">*</span></label>
				<div class="col-xs-3">
					<input type="password" class="form-control" id="validatePassword" name="validatePassword">
				</div>
				<label class="col-xs-4 control-label label-tips" id="validatePasswordTip"></label>
			</div>
			<div class="form-group">
				<div class="col-xs-5" style="display:block"></div>
				<div class="col-xs-3">
					<button type="submit" class="btn btn-primary" onclick="return validPassword();">保存</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
function validPassword(){
	$('label[id$=Tip]').html('');
	var flag = true;
	var oldPassword = $('#oldPassword');
	var newPassword = $('#newPassword');
	var validatePassword = $('#validatePassword');
	$('input[name$="Password"]').each(function(){
		if(""==$(this).val()){
			$("#"+$(this).attr('name')+"Tip").html("<span class='icon-remove-sign'></span> 不能为空");
			flag = false;
		}else{
			if($(this).val().length<6){
				$("#"+$(this).attr('name')+"Tip").html("<span class='icon-remove-sign'></span> 密码长度不小于6位");
				flag=false;
			}
		}
	});
	if(validatePassword.val()!=newPassword.val()){
		$('#validatePasswordTip').html("<span class='icon-remove-sign'></span> 两次输入的密码不一致，请重新输入");
		flag = false;
	}else{
		$('#validatePasswordTip').html("");
	}
	if(flag){
		oldPassword.val($.md5(oldPassword.val()));
		newPassword.val($.md5(newPassword.val()));
		validatePassword.val($.md5(validatePassword.val()));
	}
	return flag;
}
</script>