<style>
#priceInfoDiv .form-group .label-title{padding-left:0}
</style>
<form class="form-horizontal" action="${rc.contextPath}/chnlUser/updChnlUserPriceInfo" method="post">
	<input type="hidden" name="chnlUserIndexId" value="$!channelUserVo.id">
	<input type="hidden" name="id" value="$!userPriceVo.id">
	<div id="priceInfoDiv">
		<div class="form-group">
			<label class="col-xs-5 control-label label-title">用户名<span style="color:red">*</span></label>
			<div class="col-xs-3">
				<input readonly="true" type="text" class="form-control money-only" id="userId" name="userId" value="$!userPriceVo.userId">
			</div>
			<label class="col-xs-3 control-label label-tips" id="userIdTip"></label>
		</div>
		<div class="form-group">
			<label class="col-xs-5 control-label label-title">渠道号<span style="color:red">*</span></label>
			<div class="col-xs-3">
				<input readonly="true" type="text" class="form-control money-only" id="chnlId" name="chnlId" value="$!userPriceVo.chnlId">
			</div>
			<label class="col-xs-3 control-label label-tips" id="chnlIdTip"></label>
		</div>
		<div class="form-group">
			<label class="col-xs-5 control-label label-title">交易类型<span style="color:red">*</span></label>
			<div class="col-xs-3">
				<input readonly="true" type="text" class="form-control money-only" id="tradeType" name="tradeType" value="$!userPriceVo.tradeType">
			</div>
			<label class="col-xs-3 control-label label-tips" id="tradeTypeTip"></label>
		</div>
		<div class="form-group">
			<label class="col-xs-5 control-label label-title">价格<span style="color:red">*</span></label>
			<div class="col-xs-3">
				<input type="text" class="form-control money-only" id="price" name="price" value="$!userPriceVo.price">
			</div>
			<label class="col-xs-1 control-label label-right">元</label>
			<label class="col-xs-3 control-label label-tips" id="priceTip"></label>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-12" style="text-align:center">
			<button class="btn btn-primary" onclick="return validPriceForm();">保存</button>
		</div>
	</div>
</form>

<script>
function validPriceForm(){
	$('label[id$=Tip]').html('');
	var flag = true;
	$('input[name$="Price"]').each(function(){
		if(""==$(this).val()){
			$("#"+$(this).attr('name')+"Tip").html("<span class='icon-remove-sign'></span> 不能为空");
			flag=false;
		}
	});
	//flag = moneyOnly(flag);
	return flag;
}
</script>