<div class="sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li class="authweb-head-li"><span>基本功能</span></li>
			#if($!chnlSysUser.userType=="1"||$!chnlSysUser.userType=="2")
			<li><a href="${rc.contextPath}/channel/overall"><i class="icon-retweet"></i> 渠道信息</a></li>
			#end
			#if($chnlSysUser.userType!="2")
			<li><a href="${rc.contextPath}/chnlUser/userStatistic?id=$chnlSysUser.id"><i class="icon-user"></i> 我的信息</a></li>
			#else
			<li><a href="${rc.contextPath}/chnlUser/userDetail?id=$chnlSysUser.id"><i class="icon-user"></i> 我的信息</a></li>
			#end
			#if($!chnlSysUser.userType=="1"||$!chnlSysUser.userType=="3")
			<li>
			<a href="#"><i class="icon-barcode"></i>征信业务<span class="icon-angle-left fa arrow"></span></a>
			<ul class="nav nav-second-level">
				<li>
					<a href="${rc.contextPath}/trans/accAuth">银行卡认证</a>
				</li>
				<li>
					<a href="${rc.contextPath}/trans/nameAuth">实名认证</a>
				</li>
				<li>
					<a href="${rc.contextPath}/trans/mobileAuth">运营商认证</a>
				</li>
				<li>
					<a href="${rc.contextPath}/trans/eyeAuth">火眼(黑名单)</a>
				</li>
			</ul>	
			</li>
			#end
			<li>
				<a href="${rc.contextPath}/transDetailQuery/transDetailList"><i class="icon-list-ul"></i> 认证历史</a>
			</li>
			#if($!chnlSysUser.userType!="3")
				<li>
					<a href="${rc.contextPath}/chnlUser/userList"><i class="icon-group"></i> 用户管理</a>
				</li>
			#end
			<li class="authweb-last-li"><a href="${rc.contextPath}/exceptCard/cardList"><i class="icon-exclamation-sign"></i> 异常卡查询</a></li>
			<li class="authweb-head-li"><span>增值管理</span></li>
			#if($!chnlSysUser.userType!="3")
			<li>
				<a href="#"><i class="icon-reorder"></i> 增值查询<span class="icon-angle-left fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="${rc.contextPath}/chnlCharge/chargeList">渠道增值记录</a>
					</li>
					<li>
						<a href="${rc.contextPath}/chnlCharge/userChargeList">用户增值记录</a>
					</li>
				</ul>
			</li>
			<li class="authweb-last-li"><a href="${rc.contextPath}/chnlCharge/addCharge"><i class="icon-edit"></i> 渠道增值录入</a></li>
			#else
			<li>
				<a href="${rc.contextPath}/chnlCharge/userChargeList"><i class="icon-reorder"></i> 用户增值记录</a>
			</li>
			#end
			
		</ul>
	</div>
</div>