<style>
.detail-left{text-align:right}
.detail-right{text-align:left}
.detailDiv{margin-top:7px}
</style>
<div class="row">
	<div class="col-xs-12">
		<p>当前位置：运营商认证</p>
		<hr>
	</div>
	<div class="row">
		<div class="col-xs-6 form-horizontal authweb-shadow" id="authModeDiv">
			<h4>资料提交</h4>
			<hr>
			<div class="form-group">
				<label class="col-xs-3 control-label">认证类型</label>
			    <div class="col-xs-7">
			    	<select class="form-control" name="tradeType" id="tradeType">
			    		<option value="0419">1.姓名+手机号</option>
			    		<option value="0421">2.姓名+手机号+身份证号</option>
			    	</select>
			    </div>
		    </div>
		    <div class="form-group" id="nameDiv">
		    	<label class="col-xs-3 control-label" id="nameLabel">姓名<span style="color:red">*</span></label>
		    	<div class="col-xs-4">
			    	<input class="form-control input-show" type="text" name="name" id="name">
			    </div>
			    <label class="col-xs-3 control-label label-tips" id="nameTip"></label>
		    </div>
		    <div class="form-group" id="nbrDiv">
		    	<label class="col-xs-3 control-label" id="nbrLabel">手机号<span style="color:red">*</span></label>
		    	<div class="col-xs-4">
			    	<input class="form-control input-show" maxlength=11 type="text" name="nbr" id="nbr">
			    </div>
			    <label class="col-xs-3 control-label label-tips" id="nbrTip"></label>
		    </div>
		    <div class="form-group" id="certificateCodeDiv">
		    	<label class="col-xs-3 control-label" id="certificateCodeLabel">身份证号<span style="color:red">*</span></label>
		    	<div class="col-xs-5">
			    	<input class="form-control input-show" maxlength=18 type="text" name="certificateCode" id="certificateCode">
			    </div>
			    <label class="col-xs-3 control-label label-tips" id="certificateCodeTip"></label>
		    </div>
		    <div class="form-group" id="accNoDiv">
		    	<label class="col-xs-3 control-label" id="accNoLabel">卡号<span style="color:red">*</span></label>
		    	<div class="col-xs-6">
			    	<input class="form-control input-show" maxlength=19 type="text" name="accNo" id="accNo">
			    </div>
			    <label class="col-xs-3 control-label label-tips" id="accNoTip"></label>
		    </div>
		    <div class="form-group">
		    	<div class="col-xs-12" style="text-align:center">
			    	<button class="btn btn-primary" id="validBtn" onclick="submitInfo()">提交</button>
			    </div>
		    </div>
		</div>
		<div class="col-xs-1" style="text-align:center;min-height:268px">
			<span class=" icon-arrow-right" style="line-height:268px;font-size:32px"></span>
		</div>
		<div class="col-xs-5 authweb-shadow" id="resultDiv" style="background-color:#ffc;min-height:268px;">
			<h4>认证结果</h4>
			<hr>
			<p id="introduce">请选择认证类型，并输入相应信息进行认证</p>
		</div>
	</div>
</div>

<div class="mask" id="mask">
	<span class="mask-icon icon-spinner icon-spin"></span>
</div>

<script>
$('select').change(function(){
	modeSelect(this);
});

function modeSelect(document){
	var selectVal = $(document).val();
	switch(selectVal){
	case "0419"://姓名+手机号
		$('#accNoDiv').hide(500);
		$('#nameDiv').show(500);
		$('#certificateCodeDiv').hide(500);
		$('#nbrDiv').show(500);
		$('#accNoDiv input').removeClass('input-show');
		$('#nameDiv input').addClass('input-show');
		$('#certificateCodeDiv input').val('').removeClass('input-show');
		$('#nbrDiv input').addClass('input-show');
		break;
	case "0421"://姓名+手机号+身份证号
		$('#accNoDiv').hide(500);
		$('#nameDiv').show(500);
		$('#nbrDiv').show(500);
		$('#certificateCodeDiv').show(500);	
		$('#accNoDiv input').removeClass('input-show');
		$('#nameDiv input').addClass('input-show');
		$('#nbrDiv input').addClass('input-show');
		$('#certificateCodeDiv input').addClass('input-show');	
		break;
	default:break;
	}
}

modeSelect($('select'));

function submitInfo(){
	var validResult = validForm();
	if(validResult.flag){
		$.ajax({
			url:"${rc.contextPath}/trans/webTrans",
			data:validResult,
			type:"post",
			timeout: 60000,
			dataType:"json",
			beforeSend:function(){
				$('#validBtn').attr('disabled',true);
				$('#mask').css({"display":"block"});
			},
			success:function(result){
				if(result.flag)
					crtResult(result);
				else
					alert(result.desc);
			},
			error:function(result){
				alert("服务器异常，请联系管理员");
			},
			complete:function(result){
				$('#validBtn').attr('disabled',false);
				$('#mask').css({"display":"none"});
			}
		});
	}
}

function validForm(){
	var obj={"flag":true,"tradeType":$('#tradeType').val(),"accNo":$('#accNo').val(),"name":$('#name').val(),"certificateCode":$('#certificateCode').val(),"nbr":$('#nbr').val()};
	$('.input-show').each(function(){
		$('#'+$(this).attr('name')+'Tip').html("");
		if(""==$(this).val()){
			$('#'+$(this).attr('name')+'Tip').html("<span class='icon-remove-sign'></span> 必填");
			obj.flag = false;
		}else{
			if($(this).attr('name')=="accNo"&&!/^(\d{16}|\d{17}|\d{18}|\d{19})$/.test($(this).val())){
				$('#'+$(this).attr('name')+'Tip').html("<span class='icon-remove-sign'></span> 格式有误");
				obj.flag = false;
			}
			if($(this).attr('name')=="certificateCode"&&!/^([0-9]{17}[0-9X]{1})|([0-9]{15})$/.test($(this).val())){
				$('#'+$(this).attr('name')+'Tip').html("<span class='icon-remove-sign'></span> 格式有误");
				obj.flag = false;
			}
			if($(this).attr('name')=="nbr"&&!/^(\d{11})$/.test($(this).val())){
				$('#'+$(this).attr('name')+'Tip').html("<span class='icon-remove-sign'></span> 格式有误");
				obj.flag = false;
			}
		}
	});
	return obj;
}

function crtResult(result){
	var resultDiv = $('#resultDiv');
	resultDiv.find('#introduce').remove();
	resultDiv.find('.detailDiv').remove();
	resultDiv.find('#detailLogo').remove();
	
	var detailLogo = $('<div class="row" style="text-align:center;display:none" id="detailLogo"><span style="font-size:80px"></span><h4></h4></div>');
	if("00"==result.code){
		detailLogo.find('span').attr('class','icon-ok-sign').css("color","#99CC33");
	}else if("01"==result.code){
		detailLogo.find('span').attr('class','icon-minus-sign').css("color","#0099CC");
	}else{
		detailLogo.find('span').attr('class','icon-exclamation-sign').css("color","#FF6666");
	}
	detailLogo.find('h4').html(result.desc);
	resultDiv.append(detailLogo);
	detailLogo.fadeIn(500);
	
	var inputShow = $('.input-show');
	for(i=0;i<inputShow.length;i++){
		var detailDiv = $('<div class="row detailDiv" style="display:none"></div>');
		var title = $('#'+$(inputShow[i]).attr('name')+'Label').html();
		var showVal = $('#'+$(inputShow[i]).attr('name')).val();
		var str = $('<div class="col-xs-4 detail-left">'+title+'</div><div class="col-xs-8 detail-right">'+showVal+'</div>')
		detailDiv.append(str);
		resultDiv.append(detailDiv);
	}
	var fee = $('<div class="row detailDiv" style="display:none"><hr>\
			<div class="row" style="margin-bottom:15px">\
			<div class="col-xs-12 text-center"><a href="${rc.contextPath}/transDetailQuery/transDetailList">查看历史</a></div></div></div>');
	resultDiv.append(fee);
	$('.detailDiv').fadeIn(500);
}

</script>