<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenma.dao.MatchInfoMapper">
	 <resultMap id="BaseResultMap" type="com.zhenma.model.MatchInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="phone_num1" property="phoneNum1" jdbcType="VARCHAR" />
		<result column="name1" property="name1" jdbcType="VARCHAR" />
		<result column="phone_num2" property="phoneNum2" jdbcType="VARCHAR" />
		<result column="name2" property="name2" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, phone_num1, name1, phone_num2, name2, update_time
	</sql>

	<insert id="insertInfo" parameterType="com.zhenma.model.MatchInfo">
		insert into
		tbl_match_info (phone_num1, name1, phone_num2, name2
		)
		values (#{phoneNum1,jdbcType=VARCHAR},
		#{name1,jdbcType=VARCHAR},
		#{phoneNum2,jdbcType=VARCHAR},
		#{name2,jdbcType=VARCHAR})
	</insert>
	
</mapper>