<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhenma.dao.MsgInfoMapper">
	<resultMap id="BaseResultMap" type="com.zhenma.model.MsgInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="msg" property="msg" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, phone_num, name, msg, update_time
	</sql>

	<insert id="insertInfo" parameterType="com.zhenma.model.MsgInfo">
		insert into
		tbl_msg_info
		(phone_num, name, msg
		)
		values
		(#{phoneNum,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{msg,jdbcType=VARCHAR})
	</insert>

</mapper>