<form class="form-horizontal" action="${rc.contextPath}/channel/updChnlBaseSetting" method="post">
	<input type="hidden" name="id" value="$!channel.id">
	<div class="form-group" id="dayAtLimitDiv">
		<label class="col-xs-4 control-label label-title">日总额度限制</label>
		<input type="hidden" name="dayAtLimitTop" value="$!channel.dayAtLimitTop">
		<label class="col-xs-3 control-label label-right"><i>#if(($!channel.isLimit=="1"||$!channel.isLimit=="2")&&$!channel.dayAtLimitTop)$!channel.dayAtLimitTop元 #else 无限制 #end</i></label>
	</div>
	<div class="form-group" id="dayTransLimitDiv">
		<label class="col-xs-4 control-label label-title">日总笔数限制</label>
		<input type="hidden" name="dayTransLimitTop" value="$!channel.dayTransLimitTop">
		<label class="col-xs-3 control-label label-right"><i>#if(($!channel.isLimit=="1"||$!channel.isLimit=="3")&&$!channel.dayTransLimitTop)$!channel.dayTransLimitTop笔 #else 无限制 #end</i></label>
	</div>
	<div class="form-group">
		<label class="col-xs-4 control-label label-title">自定义日额度上限</label>
		<div class="col-xs-3">
			<input type="text" class="form-control money-only" name="dayAtLimit" id="dayAtLimit" value="$!channel.dayAtLimit">
		</div>
		<label class="col-xs-1 control-label label-right">元</label>
		<label class="col-xs-4 control-label label-tips" id="dayAtLimitTip" style="padding-left:0"></label>
	</div>
	<div class="form-group">
		<label class="col-xs-4 control-label label-title">自定义日笔数上限</label>
		<div class="col-xs-3">
			<input type="text" class="form-control int-num-only" name="dayTransLimit" id="dayTransLimit" value="$!channel.dayTransLimit">
		</div>
		<label class="col-xs-1 control-label label-right">笔</label>
		<label class="col-xs-4 control-label label-tips" id="dayTransLimitTip" style="padding-left:0"></label>
	</div>
	<div class="form-group">
		<label class="col-xs-4 control-label label-title">卡片查询次数限制</label>
		<label class="col-xs-3 control-label label-right"><i>#if($!channel.cardTransLimit == -1) 无限制 #else $!channel.cardTransLimit #end</i></label>
	</div>
	<div class="form-group">
		<div class="col-xs-12" style="text-align:center">
			<button class="btn btn-primary" onclick="return validSettingForm()">保存</button>
		</div>
	</div>
</form>

<script>
function validSettingForm(){
	$('label[id$=Tip]').html('');
	var flag = true;
	var isLimit = "$!channel.isLimit";
	var dayAtLimitTop = "$!channel.dayAtLimitTop";
	var dayTransLimitTop = "$!channel.dayTransLimitTop";
	var dayAtLimit = $('#dayAtLimit').val();
	var dayTransLimit = $('#dayTransLimit').val();
	if("1"==isLimit||"2"==isLimit){//渠道自设限额不能大于银联所设限额
		if(parseFloat(dayAtLimit)>parseFloat(dayAtLimitTop)){
			$('#dayAtLimitTip').html("<span class='icon-remove-sign'></span> 不能大于日总额限制");
			flag = false;
		}
	}
	if("1"==isLimit||"3"==isLimit){
		if(parseFloat(dayTransLimit)>parseFloat(dayTransLimitTop)){
			$('#dayTransLimitTip').html("<span class='icon-remove-sign'></span> 不能大于日总笔限制");
			flag = false;
		}
	}
	flag = moneyOnly(flag);
	flag = intNumOnly(flag);
	return flag;
}

</script>
